header{
    background-color: rgba(158, 173, 123, 1);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    display: flex;
}

ul{
    list-style-type: none;
}

.left,.center,.right{
    display: inline-block;
    text-align: right;
    flex: auto;
    margin: 20px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer{
    background-color: rgba(158, 173, 123, 1);
    padding: 20px;
}